<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}


    {% block content %}         

        <h1>Hello!!!</h1>
        <h3>You are going to know about Rudra.</h3>
        <h5>About Myself</h5>
        <p>I am pursuing Bachelor's of Technology in Electronics and
            Communication Engineering from Institute of Engineering and
            Technology, Lucknow.My interest is in SDE role, Full Stack
            Developer and DevOps Engineer.Working on AWS, Linux, Python
            with DoremonLabs and Competitive Programming (Front-End + DSA) with Pepcoding.</p>

    {% endblock %}
</body>
</html>