<!--I am going to use front page data in this index.html file-->


{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}

<div class="content">

    <!--giving heading as DoremonLabs in h1(size is bigger)-->
    <h1>DoremonLabs Projects</h1>
    {% if tasks|length < 1 %}

    <!--Commenting note in h4 (size is smaller than h1)-->
    <h4>No projects are assigned...Assign few projects below!</h4>
    {% else %}

    <!--creation of table by using table row, table heading and table data-->
    <table>
        <tr>
            <th> Projects  </th>
            <th>  Date  </th>
            <th>  Modifications </th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content}}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}

    <!--creating a form in which we take input-->
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Project">
    </form>
</div>
{% endblock %}
